<div id="wrapper">


  
  <div id="header">
    <app-header title="Election 2020" size="1"></app-header>
  </div>
  
  <div id="body" >
  <div>
  
    <div id="left"> 
      <app-header title="Sates" size="2"></app-header>
      
  <div  id="form">
  <div class="row">
    <span>State name </span><input type="text" [(ngModel)]="name">
  </div>
  
  <div class="row">
    <span>Trump </span><input type="text" [(ngModel)]="trump">
  </div>
  
  <div class="row">
    <span>Biden </span><input type="text" [(ngModel)]="biden">
  </div>
  
  <div fxLayout="row">
    <span> </span><a (click)="addState()">Add State</a>
  
  </div>
  
  
  </div>
  
  
  
    
    </div>
  
    <div id="right"> 
      <app-header title="Results" size="2"></app-header>  
  
      <app-graphs [results]="states"></app-graphs>
    
    </div>
  
  
  
  </div>
   
    
  </div>
  
  <div id="footer">
    
  </div>
  
  
  
  
  
  
  
  
  </div>